@import 'root';

.container{
    width: 60vw;
    max-width: 500px;
    margin: 2em auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    & > div.forms{
        & > div{
            h3{
                margin-bottom: 2em;
            }
            width: 100%;
            & >form{
                width: 100%;
                display: flex;
                flex-direction: column;
                & > div{
                    margin-top: 2.5em;
                }
                p,a{
                    margin-top: 1em;
                }
                & > a.forget-password{
                    align-self: flex-end;
                    font-size: 14px;
                }
                & > div.remember-me{
                    margin: 1em 0;
                    display: flex;
                    align-items: center;
                }
                button{
                    width: 100%;
                    font-size: 20px;
                    font-family: 'vazir';
                    margin: 1em 0;
                }
            }

            &.signup{
                display: none;
            }
        }
    }
    & > input#change-form{
        width: 100%;
        appearance: none;
        padding: 2em;
        cursor: pointer;
        border: 2px solid $successColor;
        border-radius: 0.5em;
        position: relative;
        transition: 0.5s;
        &::before{
            content: "ساخت حساب کاربری";
            color: #fff;
            font-family: 'vazir fd';
            font-size: 1.2em;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            transition: 0.3s;
        }
        &:checked{
            border: 2px solid $primaryColor;
            &::before{
                content: "ورود به حساب کاربری";
            }
            & ~ div.forms > div.signup{
                display: flex;
            }
        }
        &:hover{
            &:checked{
                background-color: $primaryColor ;
            }
            background-color: $successColor ;
        }
    }
}
