@mixin scrollbar {
    /* width */
    &::-webkit-scrollbar {
        width: 10px;
    }
    
    /* Track */
    &::-webkit-scrollbar-track {
        background: #C4C4C4; 
        border-radius: 0.5em;
    }
    
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #F4F4F4; 
        border-radius: 0.5em;
        border: 3px #C4C4C4 solid;
    }
    
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #555; 
    }
}

@mixin primaryGradientBackground {
    background-image: linear-gradient(to right bottom,#4E75FF 30%,#0632CC);
    background-size: cover;
}



.btn{
    appearance: none;
    border: none;
    outline: none;
    background-color: transparent;
    color: #fff;
    text-decoration: none;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    transition: background-color 0.3s,box-shadow 0.3s;
    position: relative;
    text-align: center;
    

    &.btn-primary{
        background-color: #0632CC;
    }
    &.btn-primary-gradient{
        @include primaryGradientBackground();
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
        &:hover{
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
        }
    }
}

.left{
    margin-right: auto;
}