@mixin scrollbar {
    /* width */
    &::-webkit-scrollbar {
        width: 10px;
    }
    
    /* Track */
    &::-webkit-scrollbar-track {
        background: $cardBackground; 
        border-radius: 0.5em;
    }
    
    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: $ctaColor; 
        border-radius: 0.5em;
        border: 3px $cardBackground solid;
    }
    
    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: $primaryColor; 
    }
}

@mixin primaryGradientBackground {
    background-image: linear-gradient(to right bottom,#4E75FF 30%,#0632CC);
    background-size: cover;
}

$backgroundColor:#081626;
$sidebarBackgroundColor:#0D2540;
$cardBackground:#0B1E33;
$primaryColor:#6A62FE;
$dangerColor:#DB4646;
$ctaColor:#31CF2E;
$successColor:#3B9950;
$infoColor:#3E7A99;


.btn{
    appearance: none;
    border: none;
    outline: none;
    color: #fff;
    text-decoration: none;
    border-radius: 0.5em;
    padding: 0.5em;
    transition: background-color 0.3s,box-shadow 0.3s;
    position: relative;
    text-align: center;
    .btn-link{
        background-color: transparent;
        color: $primaryColor !important;
    }
    &.btn-primary{
        background-color: $primaryColor;
        &:hover{
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
        }
    }
    &.btn-outline-success{
        border: 2px solid $successColor;
        border-radius: 0.5em;
        &:hover{
            background-color: $successColor ;
        }
    }
    &.btn-outline-info{
        border: 2px solid $infoColor;
        border-radius: 0.5em;
        &:hover{
            background-color: $infoColor ;
        }
    }
    &.btn-cta{
        background-color: $ctaColor;
        &:hover{
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
        }
    }
    &.btn-danger{
        background-color: $dangerColor;
        &:hover{
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
        }
    }
}

.left{
    margin-right: auto;
}

.text-light{
    color: #fff;
}