@import 'root';

html{
    scroll-behavior: smooth;
}

.single-header{
    display: flex;
    align-items: center;
    @media screen and (max-width:500px){
        h2{
            font-size: 20px;
        }
    }
}


#shortLink{
    max-width: 95%;
    border: 2px solid $primaryColor;
    border-radius: 0.5em;
    position: relative;
    height: 50px;
    display: flex;
    align-items: center;
    & > svg{
        margin-left: 0.5em;
        @media screen and (max-width:500px){
            max-width: 16px;
        }
    }
    strong{
        @media screen and (max-width:500px){
            font-size: 14px;
        }
    }
    .shortLink{
        margin-right: 1em;
        font-family: 'Montserrat';
        @media screen and (max-width:500px){
            font-size: 14px;
        }
    }
    button{
        position: absolute;
        display: grid;
        place-items: center;
        appearance: none;
        text-align: center;
        border: none;
        outline: none;
        background-color: $primaryColor;
        width: 50px;
        left: 0;
        top: 0;
        bottom: 0;
        margin: 0;padding: 0;
        border-radius: 0.5em 0 0 0.5em;
        cursor: pointer;
    }
}

.course-content{
    .row{
        direction: ltr !important;
        & > div{
            direction: rtl !important;
            &:last-child{
                & > div{
                    border: 5px solid $cardBackground;
                    padding: 1em;
                    border-radius: 1em;
                    margin-bottom: 1em;
                    .title{
                        width: 100%;
                        display: flex;
                        margin-bottom: 0.5em;
                        @media screen and (max-width:500px){
                            flex-wrap: wrap;
                        }
                        div{
                            margin-right: auto;
                            font-size: 14px;
                        }
                        svg{
                            margin-left: 0.5em;
                        }
                    }
                }
            }
        }
    }
}

.course-details{
    background-color: $cardBackground;
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    padding: 1em;
    & > div{
        margin: .5em 0;
        display: flex;
        align-items: center;
        &.price{
            display: flex;
            align-items: center;
            border-bottom: 2px solid rgba($color: #fff, $alpha: 0.5);
            padding-bottom: 1em;
            .course-price{
                display: flex;
                flex-direction: column;
                align-items: center;
                .discount{
                    display: flex;
                    @media screen and (max-width:500px){
                        flex-direction: column-reverse;
                    }
                    align-items: center;
                    s{
                        font-size: 14px;
                        opacity: 0.5;
                        @media screen and (max-width:500px){
                            font-size: 12px;
                        }
                    }
                    span{
                        width: fit-content;
                        background-color: $dangerColor;
                        border-radius: 1.5em;
                        margin-right: 5px;
                        font-size: 12px;
                        text-align: center;
                        @media screen and (max-width:500px){
                            font-size: 10px;
                        }
                        padding: 0 0.5em;
                    }
                }
                strong{
                    font-size: 1.5em;
                    @media screen and (max-width:500px){
                        font-size: 1em;
                    }
                    sub{
                        margin-right: 5px;
                    }
                }
            }
        }

        &.master{
            strong{
                a{
                    display: flex;
                    align-items: center;
                    color: #fff;
                    transition: color 0.3s;
                    margin: 0;padding: 0;
                    svg{
                        margin-right: 10px;
                        @media screen and (max-width:500px){
                            display: none;
                        }
                        transition: transform 0.3s;
                    }
                    &:hover{
                        color: $ctaColor;
                        svg{
                            transform: translateX(-5px);
                        }
                    }
                }
            }
        }
        & svg{
            width: 6%;
            min-width: 20px;
            margin-left: 1em;
        }
        span{
            width: 50%;
            @media screen and (max-width:500px){
                font-size: 12px;
            }
        }
        strong{
            @media screen and (max-width:500px){
                font-size: 12px;
            }
        }
    }
    a{
        margin: 0.5em 0;
        padding: 0.5em 0;
        border-radius: 0.5em;
    }
}

.tags,.requirments,.share{
    margin: 1em 0;
    display: flex;
    flex-direction: column;
    ul{
        display: flex;
        list-style: none;
        flex-wrap: wrap;
        li{
            background-color: $cardBackground;
            padding: 0.5em 1em;
            margin: 0.5em;
            border-radius: 0.5em;
            transition: background-color 0.5s;
            &:hover{
                background-color: $infoColor;
            }
            a{
                color: #fff;
                text-decoration: none;
                @media screen and (max-width:500px){
                    font-size: 12px;
                }
            }
        }
    }
}
.share{
    ul{
        li{
            max-width: 40px;
            @media screen and (max-width:500px){
                max-width: 20px;
            }
            a{
                svg{
                    width: 100%;
                }
            }
        }
    }
}

a[href='#comments']{
    display:flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    svg{
        margin: 0 0.5em;
    }
}

.course-description{
    img{
        max-width: 100%;
        border-radius: 1em;
    }
    h3{
        margin: 0.5em 0;
        @media screen and (max-width:500px){
            font-size: 16px;
        }
    }
    p{
        font-size: 14px;
        margin: 0.5em;
        @media screen and (max-width:500px){
            font-size: 12px;
        }
    }
}

.course-videos{
    ul.videos{
        width: 100%;
        display: flex;
        flex-direction: column;
        list-style: none;
        li{
            display: flex;
            align-items: center;
            width: 95%;
            margin: 0.5em 0;
            padding: 0.5em;
            border: 2px solid $primaryColor;
            border-radius: 0.5em;
            @media screen and (max-width:500px){
                flex-wrap: wrap;
            }
            span.counter{
                @media screen and (max-width:600px){
                    width: 20px;
                    height: 20px;
                    font-size: 12px;
                }  
                width: 35px;
                height: 35px;
                display: grid;
                place-items: center;
                border-radius: 100%;
                background-color: $cardBackground;
                margin-left: 0.5em;
            }
            strong{
                @media screen and (max-width:600px){
                    font-size: 12px;
                }
                a{
                    text-decoration: none;
                    color: #fff;
                }
            }
            div.actions{
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                span.video-time{
                    margin: 0 0.5em;
                    @media screen and (max-width:600px){
                        font-size: 12px;
                    }  
                }
                margin-right: auto;
                a{
                    margin: 0 0.2em;
                    @media screen and (max-width:600px){
                        width: 25px;
                        height: 25px;
                        svg{
                            width: 15px;
                            height: 15px;
                        }
                    }
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                    display: grid;
                    place-items: center;
                    text-decoration: none;
                    &.download-video
                    {
                        background-color: $primaryColor;
                    }
                    &.watch-online{
                        border: 2px solid $successColor;
                    }
                    &.download-video-files{
                        border: 2px solid $ctaColor;
                    }
                    &.video-locked{
                        background-color: $dangerColor;
                    }
                }
            }
        }
    }
}

a.tooltip{
    position: relative;
    &::after{
        position: absolute;
        content: attr(data-tooltip);
        width: max-content;
        padding: 0.5em 0.7em;
        border-radius: 0.5em;
        color: #fff;
        background-color: $sidebarBackgroundColor;
        top: -200%;
        left: 50%;
        transform: translate(-50%,50%);
        opacity: 0;
        transition: transform 0.5s,opacity 0.3s;
        pointer-events: none;
    }
    &:hover{
        &::after{
            transform: translate(-50%,0);
            opacity: 1;
        }
    }
}

.course-comments{
    .not-authenticated{
        display: flex;
        align-items: center;
        margin: 0.5em;
        @media screen and (max-width:500px){
            font-size: 12px;
        }
        svg{
            margin-left: 0.5em;
        }
    }
    .add-comment{
        width: 100%;
        form{
            width: 95%;
            display: flex;
            flex-direction: column;
            & > div{
                width: 100%;
                display: flex;
                margin: 0.5em;
                &:first-child{
                    flex-direction: column;
                    label{
                        display: flex;
                        align-items: center;
                        svg{
                            margin-left: 0.5em;
                        }
                    }
                    textarea{
                        padding: 1em;
                        color: #fff;
                        font-family: 'vazir fd';
                        margin-top: 0.5em;
                        appearance: none;
                        border: none;
                        outline: none;
                        background-color: $cardBackground;
                        border-radius: 1em;
                        resize: vertical;
                    }
                }
                &:last-child{
                    @media screen and (max-width:600px){
                        flex-direction: column;
                        div,button{
                            width: 100% !important;
                            margin: 0.5em 0;
                        }
                    }
                    @media screen and (max-width:500px){
                        div{
                            font-size: 12px;
                        }
                    }
                    div{
                        width: 60%;
                        display: flex;
                        align-items: center;
                    }
                    button{
                        width: 40%;
                        font-family: 'vazir fd';
                    }
                }
            }
        }
    }
    hr{
        margin: 0.5em 0;
    }
    ul.comments{
        margin: 0.5em;
        list-style: none;
        display: flex;
        flex-direction: column;
        width: 97%;
        li.comment{
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-bottom: 0.5em;
            div.commtent-content{
                display: flex;
                @media screen and (max-width:500px){
                    flex-direction: column;
                }
                border: 2px solid #fff;
                border-radius: 1em;
                padding: 1em;
                img{
                    width: 60px;
                    height: 60px;
                    @media screen and (max-width:500px){
                        width: 50px;
                        height: 50px;
                    }
                    border-radius: 50%;
                    margin-left: 1em;
                }
                div.comment-main{
                    display: flex;
                    flex-direction: column;
                    div.comment-top{
                        display: flex;
                        align-items: center;
                        @media screen and (max-width:500px){
                            flex-direction: column-reverse;
                            align-items: flex-start;
                        }
                        border-bottom: 1px solid rgba($color: #fff, $alpha: 0.5);
                        padding-bottom: 0.5em;
                        div.send-info{
                            display: flex;
                            flex-direction: column;
                            @media screen and (max-width:500px){
                                font-size: 14px;
                            }
                        }
                        div.actions{
                            margin-right: auto;
                            a{
                                text-decoration: none;
                                margin-right: 0.5em;
                            }
                        }
                    }
                    div.comment-body{
                        margin: 0.5em;
                        @media screen and (max-width:500px){
                            font-size: 12px;
                        }
                    }
                }
            }

            ul{
                width: 90%;
                margin: 0.5em auto 0.5em 0;
                li{
                    div.commtent-content{
                        border-color: $ctaColor;
                    }
                }
            }
        }
    }
}