.btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none;
  color: #fff;
  text-decoration: none;
  border-radius: 0.5em;
  padding: 0.5em;
  -webkit-transition: background-color 0.3s,-webkit-box-shadow 0.3s;
  transition: background-color 0.3s,-webkit-box-shadow 0.3s;
  transition: background-color 0.3s,box-shadow 0.3s;
  transition: background-color 0.3s,box-shadow 0.3s,-webkit-box-shadow 0.3s;
  position: relative;
  text-align: center;
  cursor: pointer;
}

.btn .btn-link {
  background-color: transparent;
  color: #6A62FE !important;
}

.btn.btn-primary {
  background-color: #6A62FE;
}

.btn.btn-primary:hover {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.btn.btn-outline-primary {
  border: 2px solid #6A62FE;
  border-radius: 0.5em;
}

.btn.btn-outline-primary:hover {
  background-color: #6A62FE;
}

.btn.btn-success {
  background-color: #3B9950;
}

.btn.btn-success:hover {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.btn.btn-outline-success {
  border: 2px solid #3B9950;
  border-radius: 0.5em;
}

.btn.btn-outline-success:hover {
  background-color: #3B9950;
}

.btn.btn-outline-info {
  border: 2px solid #3E7A99;
  border-radius: 0.5em;
}

.btn.btn-outline-info:hover {
  background-color: #3E7A99;
}

.btn.btn-cta {
  background-color: #31CF2E;
}

.btn.btn-cta:hover {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.btn.btn-danger {
  background-color: #DB4646;
}

.btn.btn-danger:hover {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.left {
  margin-right: auto;
}

.text-light {
  color: #fff;
}

.text-dark {
  color: #000;
}

.text-warning {
  color: #52FF00;
}

.text-cta {
  color: #31CF2E;
}

.text-primary {
  color: #6A62FE;
}

.text-danger {
  color: #DB4646;
}

.text-info {
  color: #3E7A99;
}

.alert {
  margin: 0.5em;
  padding: 0.5em 1em;
  border-radius: 1em;
}

@media screen and (max-width: 600px) {
  .alert {
    font-size: 12px;
  }
}

.alert.alert-warning {
  border: 2px solid #52FF00;
}

input[type=checkbox] {
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  width: 2em;
  height: 2em;
  cursor: pointer;
  margin-left: 0.5em;
}

input[type=checkbox]::before, input[type=checkbox]::after {
  content: "";
  display: block;
  background-size: cover;
  height: 2em;
  width: 2em;
  position: absolute;
  pointer-events: none;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

input[type=checkbox]::before {
  background-image: url("../imgs/Unckecked.svg");
}

input[type=checkbox]::after {
  background-image: url("../imgs/Checked.svg");
  opacity: 0;
}

input[type=checkbox]:checked::before {
  opacity: 0;
}

input[type=checkbox]:checked::after {
  opacity: 1;
}

html {
  scroll-behavior: smooth;
}

.single-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 500px) {
  .single-header h2 {
    font-size: 20px;
  }
}

#shortLink {
  max-width: 95%;
  border: 2px solid #6A62FE;
  border-radius: 0.5em;
  position: relative;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#shortLink > svg {
  margin-left: 0.5em;
}

@media screen and (max-width: 500px) {
  #shortLink > svg {
    max-width: 16px;
  }
}

@media screen and (max-width: 500px) {
  #shortLink strong {
    font-size: 14px;
  }
}

#shortLink .shortLink {
  margin-right: 1em;
  font-family: 'Montserrat';
}

@media screen and (max-width: 500px) {
  #shortLink .shortLink {
    font-size: 14px;
  }
}

#shortLink button {
  position: absolute;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  text-align: center;
  border: none;
  outline: none;
  background-color: #6A62FE;
  width: 50px;
  left: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  border-radius: 0.5em 0 0 0.5em;
  cursor: pointer;
}

.course-content .row {
  direction: ltr !important;
}

.course-content .row > div {
  direction: rtl !important;
}

.course-content .row > div:last-child > div {
  border: 5px solid #0B1E33;
  padding: 1em;
  border-radius: 1em;
  margin-bottom: 1em;
}

.course-content .row > div:last-child > div .title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.5em;
}

@media screen and (max-width: 500px) {
  .course-content .row > div:last-child > div .title {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.course-content .row > div:last-child > div .title div {
  margin-right: auto;
  font-size: 14px;
}

.course-content .row > div:last-child > div .title svg {
  margin-left: 0.5em;
}

.course-details {
  background-color: #0B1E33;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 1em;
  padding: 1em;
}

.course-details > div {
  margin: .5em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.course-details > div.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 1em;
}

.course-details > div.price .course-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.course-details > div.price .course-price .discount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 500px) {
  .course-details > div.price .course-price .discount {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.course-details > div.price .course-price .discount s {
  font-size: 14px;
  opacity: 0.5;
}

@media screen and (max-width: 500px) {
  .course-details > div.price .course-price .discount s {
    font-size: 12px;
  }
}

.course-details > div.price .course-price .discount span {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #DB4646;
  border-radius: 1.5em;
  margin-right: 5px;
  font-size: 12px;
  text-align: center;
  padding: 0 0.5em;
}

@media screen and (max-width: 500px) {
  .course-details > div.price .course-price .discount span {
    font-size: 10px;
  }
}

.course-details > div.price .course-price strong {
  font-size: 1.5em;
}

@media screen and (max-width: 500px) {
  .course-details > div.price .course-price strong {
    font-size: 1em;
  }
}

.course-details > div.price .course-price strong sub {
  margin-right: 5px;
}

.course-details > div.master strong a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  margin: 0;
  padding: 0;
}

.course-details > div.master strong a svg {
  margin-right: 10px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

@media screen and (max-width: 500px) {
  .course-details > div.master strong a svg {
    display: none;
  }
}

.course-details > div.master strong a:hover {
  color: #31CF2E;
}

.course-details > div.master strong a:hover svg {
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
}

.course-details > div svg {
  width: 6%;
  min-width: 20px;
  margin-left: 1em;
}

.course-details > div span {
  width: 50%;
}

@media screen and (max-width: 500px) {
  .course-details > div span {
    font-size: 12px;
  }
}

@media screen and (max-width: 500px) {
  .course-details > div strong {
    font-size: 12px;
  }
}

.course-details a {
  margin: 0.5em 0;
  padding: 0.5em 0;
  border-radius: 0.5em;
}

.tags, .requirments, .share {
  margin: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tags ul, .requirments ul, .share ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tags ul li, .requirments ul li, .share ul li {
  background-color: #0B1E33;
  padding: 0.5em 1em;
  margin: 0.5em;
  border-radius: 0.5em;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.tags ul li:hover, .requirments ul li:hover, .share ul li:hover {
  background-color: #3E7A99;
}

.tags ul li a, .requirments ul li a, .share ul li a {
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 500px) {
  .tags ul li a, .requirments ul li a, .share ul li a {
    font-size: 12px;
  }
}

.share ul li {
  max-width: 40px;
}

@media screen and (max-width: 500px) {
  .share ul li {
    max-width: 20px;
  }
}

.share ul li a svg {
  width: 100%;
}

a[href='#comments'] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

a[href='#comments'] svg {
  margin: 0 0.5em;
}

.course-description img {
  max-width: 100%;
  border-radius: 1em;
}

.course-description h3 {
  margin: 0.5em 0;
}

@media screen and (max-width: 500px) {
  .course-description h3 {
    font-size: 16px;
  }
}

.course-description p {
  font-size: 14px;
  margin: 0.5em;
}

@media screen and (max-width: 500px) {
  .course-description p {
    font-size: 12px;
  }
}

.course-videos ul.videos {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
}

.course-videos ul.videos li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 95%;
  margin: 0.5em 0;
  padding: 0.5em;
  border: 2px solid #6A62FE;
  border-radius: 0.5em;
}

@media screen and (max-width: 500px) {
  .course-videos ul.videos li {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.course-videos ul.videos li span.counter {
  width: 35px;
  height: 35px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  border-radius: 100%;
  background-color: #0B1E33;
  margin-left: 0.5em;
}

@media screen and (max-width: 600px) {
  .course-videos ul.videos li span.counter {
    width: 20px;
    height: 20px;
    font-size: 12px;
  }
}

@media screen and (max-width: 600px) {
  .course-videos ul.videos li strong {
    font-size: 12px;
  }
}

.course-videos ul.videos li strong a {
  text-decoration: none;
  color: #fff;
}

.course-videos ul.videos li div.actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
}

.course-videos ul.videos li div.actions span.video-time {
  margin: 0 0.5em;
}

@media screen and (max-width: 600px) {
  .course-videos ul.videos li div.actions span.video-time {
    font-size: 12px;
  }
}

.course-videos ul.videos li div.actions a {
  margin: 0 0.2em;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .course-videos ul.videos li div.actions a {
    width: 25px;
    height: 25px;
  }
  .course-videos ul.videos li div.actions a svg {
    width: 15px;
    height: 15px;
  }
}

.course-videos ul.videos li div.actions a.download-video {
  background-color: #6A62FE;
}

.course-videos ul.videos li div.actions a.watch-online {
  border: 2px solid #3B9950;
}

.course-videos ul.videos li div.actions a.download-video-files {
  border: 2px solid #31CF2E;
}

.course-videos ul.videos li div.actions a.video-locked {
  background-color: #DB4646;
}

a.tooltip {
  position: relative;
}

a.tooltip::after {
  position: absolute;
  content: attr(data-tooltip);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0.5em 0.7em;
  border-radius: 0.5em;
  color: #fff;
  background-color: #0D2540;
  top: -200%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  opacity: 0;
  -webkit-transition: opacity 0.3s,-webkit-transform 0.5s;
  transition: opacity 0.3s,-webkit-transform 0.5s;
  transition: transform 0.5s,opacity 0.3s;
  transition: transform 0.5s,opacity 0.3s,-webkit-transform 0.5s;
  pointer-events: none;
}

a.tooltip:hover::after {
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  opacity: 1;
}

.course-comments .not-authenticated {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.5em;
}

@media screen and (max-width: 500px) {
  .course-comments .not-authenticated {
    font-size: 12px;
  }
}

.course-comments .not-authenticated svg {
  margin-left: 0.5em;
}

.course-comments .add-comment {
  width: 100%;
}

.course-comments .add-comment form {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.course-comments .add-comment form > div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5em;
}

.course-comments .add-comment form > div:first-child {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.course-comments .add-comment form > div:first-child label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.course-comments .add-comment form > div:first-child label svg {
  margin-left: 0.5em;
}

.course-comments .add-comment form > div:first-child textarea {
  padding: 1em;
  color: #fff;
  font-family: 'vazir fd';
  margin-top: 0.5em;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none;
  background-color: #0B1E33;
  border-radius: 1em;
  resize: vertical;
}

@media screen and (max-width: 600px) {
  .course-comments .add-comment form > div:last-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .course-comments .add-comment form > div:last-child div, .course-comments .add-comment form > div:last-child button {
    width: 100% !important;
    margin: 0.5em 0;
  }
}

@media screen and (max-width: 500px) {
  .course-comments .add-comment form > div:last-child div {
    font-size: 12px;
  }
}

.course-comments .add-comment form > div:last-child div {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.course-comments .add-comment form > div:last-child button {
  width: 40%;
  font-family: 'vazir fd';
}

.course-comments hr {
  margin: 0.5em 0;
}

.course-comments ul.comments {
  margin: 0.5em;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 97%;
}

.course-comments ul.comments li.comment {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 0.5em;
}

.course-comments ul.comments li.comment div.commtent-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid #fff;
  border-radius: 1em;
  padding: 1em;
}

@media screen and (max-width: 500px) {
  .course-comments ul.comments li.comment div.commtent-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.course-comments ul.comments li.comment div.commtent-content img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-left: 1em;
}

@media screen and (max-width: 500px) {
  .course-comments ul.comments li.comment div.commtent-content img {
    width: 50px;
    height: 50px;
  }
}

.course-comments ul.comments li.comment div.commtent-content div.comment-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.course-comments ul.comments li.comment div.commtent-content div.comment-main div.comment-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 0.5em;
}

@media screen and (max-width: 500px) {
  .course-comments ul.comments li.comment div.commtent-content div.comment-main div.comment-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.course-comments ul.comments li.comment div.commtent-content div.comment-main div.comment-top div.send-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 500px) {
  .course-comments ul.comments li.comment div.commtent-content div.comment-main div.comment-top div.send-info {
    font-size: 14px;
  }
}

.course-comments ul.comments li.comment div.commtent-content div.comment-main div.comment-top div.actions {
  margin-right: auto;
}

.course-comments ul.comments li.comment div.commtent-content div.comment-main div.comment-top div.actions a {
  text-decoration: none;
  margin-right: 0.5em;
}

.course-comments ul.comments li.comment div.commtent-content div.comment-main div.comment-body {
  margin: 0.5em;
}

@media screen and (max-width: 500px) {
  .course-comments ul.comments li.comment div.commtent-content div.comment-main div.comment-body {
    font-size: 12px;
  }
}

.course-comments ul.comments li.comment ul {
  width: 90%;
  margin: 0.5em auto 0.5em 0;
}

.course-comments ul.comments li.comment ul li div.commtent-content {
  border-color: #31CF2E;
}
/*# sourceMappingURL=single.css.map */