.btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none;
  color: #fff;
  text-decoration: none;
  border-radius: 0.5em;
  padding: 0.5em;
  -webkit-transition: background-color 0.3s,-webkit-box-shadow 0.3s;
  transition: background-color 0.3s,-webkit-box-shadow 0.3s;
  transition: background-color 0.3s,box-shadow 0.3s;
  transition: background-color 0.3s,box-shadow 0.3s,-webkit-box-shadow 0.3s;
  position: relative;
  text-align: center;
  cursor: pointer;
  font-family: 'vazir fd';
  font-weight: bold;
}

.btn.btn-sm {
  font-size: 12px;
  padding: 0.3em;
}

.btn .btn-link {
  background-color: transparent;
  color: #6A62FE !important;
}

.btn.btn-primary {
  background-color: #6A62FE;
}

.btn.btn-primary:hover {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.btn.btn-outline-primary {
  border: 2px solid #6A62FE;
  border-radius: 0.5em;
}

.btn.btn-outline-primary:hover {
  background-color: #6A62FE;
}

.btn.btn-success {
  background-color: #3B9950;
}

.btn.btn-success:hover {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.btn.btn-outline-success {
  border: 2px solid #3B9950;
  border-radius: 0.5em;
}

.btn.btn-outline-success:hover {
  background-color: #3B9950;
}

.btn.btn-outline-info {
  border: 2px solid #3E7A99;
  border-radius: 0.5em;
}

.btn.btn-outline-info:hover {
  background-color: #3E7A99;
}

.btn.btn-cta {
  background-color: #31CF2E;
}

.btn.btn-cta:hover {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.btn.btn-warning {
  background-color: #52FF00;
  color: #000 !important;
}

.btn.btn-warning:hover {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.btn.btn-outline-warning {
  border: 2px solid #52FF00;
  border-radius: 0.5em;
}

.btn.btn-outline-warning:hover {
  background-color: #52FF00;
}

.btn.btn-danger {
  background-color: #DB4646;
}

.btn.btn-danger:hover {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.btn.btn-outline-danger {
  border: 2px solid #DB4646;
  border-radius: 0.5em;
}

.btn.btn-outline-danger:hover {
  background-color: #DB4646;
}

.btn-icon {
  display: -ms-grid;
  display: grid;
  place-items: center;
  text-decoration: none;
}

.left {
  margin-right: auto;
}

.text-light {
  color: #fff;
}

.text-dark {
  color: #000;
}

.text-warning {
  color: #52FF00;
}

.text-cta {
  color: #31CF2E;
}

.text-primary {
  color: #6A62FE;
}

.text-danger {
  color: #DB4646;
}

.text-info {
  color: #3E7A99;
}

.alert {
  margin: 0.5em;
  padding: 0.5em 1em;
  border-radius: 1em;
}

@media screen and (max-width: 600px) {
  .alert {
    font-size: 12px;
  }
}

.alert.alert-warning {
  border: 2px solid #52FF00;
}

input[type=checkbox]:not(input#change-form) {
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  width: 2em;
  height: 2em;
  cursor: pointer;
  margin-left: 0.5em;
}

input[type=checkbox]:not(input#change-form)::before, input[type=checkbox]:not(input#change-form)::after {
  content: "";
  display: block;
  background-size: cover;
  height: 2em;
  width: 2em;
  position: absolute;
  pointer-events: none;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

input[type=checkbox]:not(input#change-form)::before {
  background-image: url("../imgs/Unckecked.svg");
}

input[type=checkbox]:not(input#change-form)::after {
  background-image: url("../imgs/Checked.svg");
  opacity: 0;
}

input[type=checkbox]:not(input#change-form):checked::before {
  opacity: 0;
}

input[type=checkbox]:not(input#change-form):checked::after {
  opacity: 1;
}

input[type=radio].radio {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 2px solid #6A62FE;
  background-color: transparent;
  outline: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

input[type=radio].radio:hover {
  border-color: #fff;
}

input[type=radio].radio:checked {
  background-color: #6A62FE;
}

input[type=radio].radio:checked:before {
  width: 8px;
  height: 8px;
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  border-radius: 50%;
  background-color: #081626;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.icon-input svg {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  pointer-events: none;
  opacity: 0.5;
  width: 15px;
}

.icon-input svg.show-password, .icon-input svg.hide-password {
  display: none;
  right: 1.5em;
  pointer-events: all;
  cursor: pointer;
  opacity: 1;
  width: 20px;
}

.icon-input svg.show-password.hide-password, .icon-input svg.hide-password.hide-password {
  display: none;
}

.icon-input label {
  margin-right: 1.5em;
}

.float-input {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.float-input input {
  height: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #fff;
  padding: 0.5em 1em;
  color: #fff;
  direction: ltr;
  font-family: 'montserrat';
  font-size: 1em;
  -webkit-transition: border 0.3s;
  transition: border 0.3s;
}

.float-input input::-ms-reveal, .float-input input::-ms-clear {
  display: none;
}

.float-input input:valid ~ svg.show-password {
  display: block;
}

.float-input input:valid, .float-input input:focus {
  border-bottom: 3px solid #6A62FE;
}

.float-input input:valid ~ label, .float-input input:focus ~ label {
  -webkit-transform: translate(1.5em, -1.5em);
          transform: translate(1.5em, -1.5em);
  font-size: 14px;
  opacity: 50%;
}

.float-input label {
  position: absolute;
  -webkit-transition: font-size 0.3s,opacity 0.3s, -webkit-transform 0.3s;
  transition: font-size 0.3s,opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, font-size 0.3s,opacity 0.3s;
  transition: transform 0.3s, font-size 0.3s,opacity 0.3s, -webkit-transform 0.3s;
}

.float-input span.validation-text {
  position: absolute;
  top: -2em;
  left: 0;
  font-size: 14px;
  color: #DB4646;
  pointer-events: none;
}

.badge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1em;
  padding: 0.2em 0.7em;
  font-size: 12px;
  margin: 0 0.5em;
}

.badge.badge-warning {
  background-color: #52FF00;
  color: #000;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #081626;
  inset: 0;
  direction: rtl;
  overflow-x: hidden;
  font-family: 'vazir fd';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}

body::-webkit-scrollbar {
  width: 10px;
  margin: 0.5em;
}

body::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0.5em;
}

body::-webkit-scrollbar-thumb {
  background: #31CF2E;
  border-radius: 0.5em;
  border: 3px #0B1E33 solid;
}

body::-webkit-scrollbar-thumb:hover {
  background: #6A62FE;
}

@media screen and (max-width: 600px) {
  body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

div.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  z-index: 99;
  background-color: rgba(13, 37, 64, 0.5);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

@media screen and (min-width: 600px) {
  div.sidebar {
    width: 100px;
    height: 100%;
  }
}

@media screen and (max-width: 600px) {
  div.sidebar {
    width: 100%;
    height: 80px;
    bottom: 0;
    right: 0;
  }
}

div.sidebar nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1em;
}

@media screen and (max-width: 600px) {
  div.sidebar nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  div.sidebar nav a:first-child {
    display: none !important;
  }
}

div.sidebar nav a:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-x: hidden;
  margin: 1em 1em;
}

div.sidebar nav a:first-child img {
  width: 100%;
  max-width: 5em;
}

div.sidebar nav a:not(a:first-child) {
  display: -ms-grid;
  display: grid;
  margin: 1.5em 1em;
  width: 50px;
  height: 50px;
  place-items: center;
  margin: auto;
  border-radius: 0.5em;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  position: relative;
}

div.sidebar nav a:not(a:first-child) span {
  width: 7em;
  text-align: center;
  position: absolute;
  left: -310%;
  font-size: 14px;
  background-color: #040B13;
  color: #fff;
  padding: 0.5em;
  border-radius: .5em;
  pointer-events: none;
  opacity: 0;
  -webkit-transform: translateX(5%);
          transform: translateX(5%);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
}

div.sidebar nav a:not(a:first-child) span::before {
  width: 1px;
  height: 1px;
  content: "";
  border: transparent solid 10px;
  border-left-color: #040B13;
  border-left-width: 20px;
  border-left-style: solid;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -1.5em;
}

@media screen and (max-width: 600px) {
  div.sidebar nav a:not(a:first-child) span {
    left: 50%;
    top: -4em;
    -webkit-transform: translate(-50%, 5px);
            transform: translate(-50%, 5px);
  }
  div.sidebar nav a:not(a:first-child) span::before {
    top: 90%;
    bottom: -2em;
    right: 50%;
    -webkit-transform: translate(50%, 0);
            transform: translate(50%, 0);
    border: transparent solid 10px;
    border-top-color: #040B13;
    border-top-width: 20px;
    border-top-style: solid;
  }
}

div.sidebar nav a:not(a:first-child).active {
  background-color: rgba(0, 0, 0, 0.4);
}

div.sidebar nav a:not(a:first-child):hover {
  background-color: rgba(0, 0, 0, 0.2);
}

div.sidebar nav a:not(a:first-child):hover span {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@media screen and (max-width: 600px) {
  div.sidebar nav a:not(a:first-child):hover span {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

header {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header img {
  max-width: 100%;
  display: none;
}

@media screen and (max-width: 600px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  header img {
    display: block;
  }
  header div {
    width: 100%;
    margin: 0.5em 0;
  }
  header div:last-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  header div:last-child img {
    width: 60%;
  }
}

header div:last-child a {
  text-decoration: none;
  margin: 0 1em;
}

header div:last-child a svg {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

header div:last-child a:hover svg {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

footer {
  width: 90%;
  border-radius: 1em;
  border: #4A71FC solid 5px;
  margin: 1em 0;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
}

@media screen and (max-width: 768px) {
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer > div {
    width: 100% !important;
  }
}

footer .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

footer .right .subscribe {
  width: 100%;
  position: relative;
  height: 50px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer .right .subscribe input {
  width: -webkit-fill-available;
  width: -moz-available;
  width: stretch;
  background-color: #0B2037;
  padding: 1em;
  border: none;
  outline: none;
  border-radius: 0.5em;
  margin: 0 1em;
  padding-right: 4em;
  color: #fff;
  font-family: 'vazir fd';
}

footer .right .subscribe input:focus {
  -webkit-box-shadow: 0 0 10px rgba(70, 70, 241, 0.3);
          box-shadow: 0 0 10px rgba(70, 70, 241, 0.3);
}

footer .right .subscribe svg, footer .right .subscribe button {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

footer .right .subscribe svg {
  right: 1.5em;
  opacity: 0.7;
  width: 20px;
}

@media screen and (max-width: 500px) {
  footer .right .subscribe svg {
    width: 20px;
  }
}

footer .right .subscribe button {
  left: 2em;
  cursor: pointer;
  font-family: 'vazir fd';
}

@media screen and (max-width: 500px) {
  footer .right .subscribe button {
    font-size: 12px;
  }
}

footer .right div:last-child {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer .right div:last-child ul li {
  margin: 5px 0;
}

@media screen and (max-width: 500px) {
  footer .right div:last-child ul li {
    font-size: 12px;
  }
}

footer .right div:last-child ul li a {
  text-decoration: none;
  color: #fff;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

footer .right div:last-child ul li a:hover {
  color: #31CF2E;
}

footer .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 768px) {
  footer .left h4 {
    width: 100% !important;
    text-align: center;
  }
}

footer .left img {
  max-width: 200px;
  border-radius: 1em;
}

footer .left .socialNetworks {
  margin: 1em 0;
}

footer .left .socialNetworks a {
  text-decoration: none;
  margin: 0 0.5em;
}

footer .left .socialNetworks a svg .stroke-filled {
  stroke: #fff;
  -webkit-transition: stroke 0.3s;
  transition: stroke 0.3s;
}

footer .left .socialNetworks a svg .filled {
  fill: #fff;
  -webkit-transition: fill 0.3s;
  transition: fill 0.3s;
}

footer .left .socialNetworks a:hover svg .stroke-filled {
  stroke: #6A62FE;
}

footer .left .socialNetworks a:hover svg .filled {
  fill: #6A62FE;
}

footer .left h4 {
  margin: 0;
}

@media screen and (max-width: 500px) {
  footer .left h4 {
    font-size: 14px;
  }
}

main.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2em;
  margin-right: 150px;
  width: 90% !important;
}

@media screen and (max-width: 600px) {
  main.content {
    margin: 2em !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

main.content div.banners {
  margin-top: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  main.content div.banners {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

main.content div.banners div {
  width: 45%;
  margin: 1em;
  height: 280px;
  position: relative;
  z-index: 2;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 1em;
}

@media screen and (max-width: 768px) {
  main.content div.banners div {
    width: 100%;
    margin-bottom: 5em;
  }
}

main.content div.banners div::before, main.content div.banners div::after {
  position: absolute;
  content: "";
  z-index: 1;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #081020;
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

main.content div.banners div img {
  max-height: 360px;
  position: absolute;
  top: -5em;
  z-index: 3;
  -webkit-transition: -webkit-transform 5s ease-out;
  transition: -webkit-transform 5s ease-out;
  transition: transform 5s ease-out;
  transition: transform 5s ease-out, -webkit-transform 5s ease-out;
}

@media screen and (max-width: 768px) {
  main.content div.banners div img {
    max-height: 70vw;
    bottom: 0;
    top: inherit;
  }
}

main.content div.banners div img.icon {
  height: 170px;
  top: 10%;
}

main.content div.banners div h2 {
  position: absolute;
  z-index: 4;
  color: #fff;
  bottom: 1em;
  right: 3em;
}

main.content div.banners div a {
  position: absolute;
  left: 1em;
  bottom: 1em;
  z-index: 4;
}

main.content div.banners .unityBanner {
  background-color: rgba(13, 38, 64, 0.5);
}

main.content div.banners .unityBanner:hover img:not(.icon) {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
}

@media screen and (max-width: 768px) {
  main.content div.banners .unityBanner:hover img:not(.icon) {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
}

main.content div.banners .unityBanner::before {
  top: -1em;
  right: -1em;
  background-color: rgba(33, 65, 97, 0.8);
  width: 160px;
  height: 160px;
  opacity: 0.7;
}

main.content div.banners .unityBanner::after {
  right: 50%;
  top: 30%;
  width: 240px;
  height: 240px;
  opacity: 0.5;
}

main.content div.banners .unityBanner img:not(.icon) {
  right: 1em;
}

main.content div.banners .unityBanner img.icon {
  left: 1em;
}

main.content div.banners .unrealBanner {
  background-color: rgba(78, 117, 255, 0.3);
}

main.content div.banners .unrealBanner:hover img:not(.icon) {
  -webkit-transform: translate(40px, -20px) rotate(10deg);
          transform: translate(40px, -20px) rotate(10deg);
}

@media screen and (max-width: 768px) {
  main.content div.banners .unrealBanner:hover img:not(.icon) {
    -webkit-transform: translate(20px, -10px) rotate(10deg);
            transform: translate(20px, -10px) rotate(10deg);
  }
}

main.content div.banners .unrealBanner::before {
  top: -2em;
  left: 30%;
  background-color: rgba(219, 169, 243, 0.3);
  width: 110px;
  height: 110px;
}

main.content div.banners .unrealBanner::after {
  right: 10%;
  bottom: -2em;
  background-color: rgba(173, 41, 253, 0.3);
  width: 200px;
  height: 200px;
}

main.content div.banners .unrealBanner img:not(.icon) {
  max-height: 300px;
  right: -1em;
}

main.content div.banners .unrealBanner img.icon {
  left: 1em;
}

main.content hr {
  width: 100%;
  opacity: 0.5;
}

main.content div.lastCourses {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main.content div.lastCourses .topic {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1em auto;
}

main.content div.lastCourses .topic h4 {
  color: #fff;
}

main.content div.lastCourses .topic a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #4A71FC;
  text-decoration: none;
}

main.content div.lastCourses .topic a:hover svg {
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
}

main.content div.lastCourses .topic a svg {
  stroke: #4A71FC;
  margin: 0 0.5em;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

main.content div.lastCourses > a {
  padding: 1em 0;
  margin: 1em;
}

main.content .courses {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-grid-columns: (minmax(270px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  place-items: center;
}

main.content .courses .card {
  margin: 1em 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
  border-radius: 1em;
  background-color: #0B1E33;
  color: #fff;
  position: relative;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

main.content .courses .card svg {
  opacity: 0.5;
  max-width: 20px;
}

main.content .courses .card:hover {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

main.content .courses .card:hover button {
  -webkit-transform: translate(-10px, -10px);
          transform: translate(-10px, -10px);
  opacity: 1;
}

main.content .courses .card:hover button svg {
  opacity: 1;
}

main.content .courses .card .image {
  width: 100%;
  position: relative;
  height: 50%;
}

main.content .courses .card .image a {
  height: 100%;
  position: relative;
}

main.content .courses .card .image a img {
  max-width: 100%;
  border-radius: 1em 1em 0 0;
}

main.content .courses .card .image a.master {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  bottom: -3%;
  left: 1em;
  border: #0B1E33 5px solid;
}

main.content .courses .card .image a.master img {
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

main.content .courses .card .image a.master::after {
  height: 30px;
  width: 100px;
  background-color: #0D2540;
  position: absolute;
  bottom: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  content: attr(data-master-name);
  text-align: center;
  border-radius: .5em;
  padding: 0 1em;
  color: #fff;
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
  pointer-events: none;
}

main.content .courses .card .image a.master:hover::after {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1;
}

main.content .courses .card .image a.master:hover img {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

main.content .courses .card button {
  position: absolute;
  width: 3em;
  height: 3em;
  left: 0;
  top: 0;
  cursor: pointer;
  display: -ms-grid;
  display: grid;
  place-items: center;
  padding: 0;
  opacity: 0;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.5s, -webkit-box-shadow 0.3s;
  transition: opacity 0.2s, -webkit-transform 0.5s, -webkit-box-shadow 0.3s;
  transition: transform 0.5s, opacity 0.2s, box-shadow 0.3s;
  transition: transform 0.5s, opacity 0.2s, box-shadow 0.3s, -webkit-transform 0.5s, -webkit-box-shadow 0.3s;
}

main.content .courses .card .details {
  width: 100%;
  margin: 1em;
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main.content .courses .card .details a:first-child {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  margin-bottom: 1em;
  width: 90%;
  color: white;
  text-decoration: none;
  font-size: 14px;
}

main.content .courses .card .details a:first-child:hover {
  color: #6A62FE;
}

main.content .courses .card .details a:first-child h4 {
  margin: 0.2em 0;
}

main.content .courses .card .details .courseDetails {
  width: 90%;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main.content .courses .card .details .courseDetails div {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
}

@media screen and (max-width: 600px) {
  main.content .courses .card .details .courseDetails div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main.content .courses .card .details .courseDetails div div {
    margin: 0.2em 0;
  }
}

main.content .courses .card .details .courseDetails div svg {
  margin-left: 0.7em;
}

main.content .courses .card .details .price {
  width: 90%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
}

main.content .courses .card .details .price svg {
  margin-left: 0.5em;
}

main.content .courses .card .details .price .discount {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main.content .courses .card .details .price .discount div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 50%;
}

main.content .courses .card .details .price .discount div span {
  background-color: #DB4646;
  border-radius: 1em;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 0.7em;
  font-size: 12px;
  margin-left: auto;
}

main.content .courses .card .details .price .discount div s {
  opacity: 0.5;
  font-size: 12px;
}

main.content .courses .card .details .price .discount strong {
  word-wrap: 50%;
  font-size: 16px;
}

main.content .courses .card .details a:last-child {
  margin: 0;
  padding: 0.5em 0;
  width: 90%;
  border-radius: 0.5em;
  text-align: center;
  font-size: 14px;
}

.searchbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 40vw;
  height: 50px;
}

.searchbox input {
  width: 100%;
  background-color: #0B2037;
  border: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 1em;
  border-radius: 0.5em;
  color: #fff;
  font-family: 'vazir fd';
}

.searchbox input:focus {
  -webkit-box-shadow: 0 0 20px rgba(70, 70, 241, 0.3);
          box-shadow: 0 0 20px rgba(70, 70, 241, 0.3);
}

.searchbox button {
  position: absolute;
  left: 1em;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.breadcrumb {
  margin: 1em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.breadcrumb ol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.breadcrumb ol li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.5em;
}

@media screen and (max-width: 600px) {
  .breadcrumb ol li {
    font-size: 12px;
  }
}

.breadcrumb ol li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #6A62FE;
}

.breadcrumb ol li a svg {
  stroke: #6A62FE;
}

@media screen and (max-width: 600px) {
  .breadcrumb ol li a svg {
    width: 20px;
    height: 20px;
  }
}

.breadcrumb ol li span {
  color: rgba(255, 255, 255, 0.5);
}

.breadcrumb ol svg {
  margin: 0 5px;
}

.filter {
  width: 90%;
  border: 2px solid #6A62FE;
  padding: 1em 2em;
  border-radius: 1em;
}

.filter > div > div {
  margin: auto;
}

.dropdown {
  position: relative;
}

.dropdown .dropdown-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-width: 15em;
  position: relative;
  color: #fff;
  background-color: transparent;
  border: 2px solid #31CF2E;
  -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
  font-weight: bolder;
  padding: 1em 2em;
  padding-left: 4em;
  -webkit-transition: border-radius 0.5s ease;
  transition: border-radius 0.5s ease;
  margin: 0;
  font-family: 'vazir fd';
  cursor: pointer;
}

.dropdown .dropdown-toggle ~ svg {
  position: absolute;
  left: 1em;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.dropdown .expanded {
  border-radius: 1em 1em 0 0;
}

.dropdown .expanded ~ svg {
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}

.dropdown .expanded ~ .dropdown-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dropdown ul.dropdown-menu {
  position: absolute;
  max-height: 17em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  text-align: right;
  background-color: #0B1E33;
  -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  padding: 1em;
  border-radius: 0 0 1em 1em;
  z-index: 5;
  overflow-y: auto;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}

.dropdown ul.dropdown-menu::-webkit-scrollbar {
  width: 10px;
  margin: 0.5em;
}

.dropdown ul.dropdown-menu::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0.5em;
}

.dropdown ul.dropdown-menu::-webkit-scrollbar-thumb {
  background: #31CF2E;
  border-radius: 0.5em;
  border: 3px #0B1E33 solid;
}

.dropdown ul.dropdown-menu::-webkit-scrollbar-thumb:hover {
  background: #6A62FE;
}

.dropdown ul.dropdown-menu li {
  margin: 0.25em 0;
  font-size: 16px;
}

.dropdown ul.dropdown-menu li ul {
  list-style: none;
  margin-right: 2em;
}

.dropdown ul.dropdown-menu li ul li {
  margin: 0.25em 0;
  font-size: 14px;
}

.dropdown ul.dropdown-menu li a {
  text-decoration: none;
  color: #fff;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.dropdown ul.dropdown-menu li a:hover {
  color: #6A62FE;
}

.dropdown ul.dropdown-menu li input {
  margin: 0;
  width: 100%;
  border-radius: 0.5em;
}

.text-input {
  outline: none;
  border: none;
  background-color: #0D2540;
  padding: .5em;
  font-family: 'vazir fd';
  color: #fff;
}

.toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0B1E33;
  height: 60px;
  border-radius: 1em;
}

.toggle div {
  width: 100%;
  text-align: center;
  position: relative;
}

.toggle div label {
  color: #fff;
  padding: 0.7em 2em;
  border-radius: 1em;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.toggle div input[type=radio] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}

.toggle div input[type=radio]:checked ~ label {
  background-color: #081626;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1em auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagination a {
  margin: 0 0.5em;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.pagination a svg {
  stroke: #31CF2E;
}

.pagination a:first-child:not(.disabled):hover {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

.pagination a:last-child:hover {
  -webkit-transform: translateX(-5px);
          transform: translateX(-5px);
}

.pagination a.disabled {
  opacity: 0.3;
}

.pagination ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.pagination ul li {
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.pagination ul li:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.pagination ul li a {
  text-decoration: none;
  color: #fff;
  padding: 0 0.5em;
}

.pagination ul li a.active {
  position: relative;
  z-index: 3;
}

.pagination ul li a.active::after {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
  border-radius: 0.5em;
}

.dashed-separator {
  margin: 1em 0;
  border-top: 1px dashed #fff;
  opacity: 0.5;
}
/*# sourceMappingURL=style.css.map */