@import 'root';
@mixin inputStyle($backColor,$padding:1em,$margin:0,$borderRadius:0.5em) {
    appearance: none;
    padding: $padding;
    margin: $margin;
    outline: none;
    border: none;
    background-color: $backColor;
    font-family: 'vazir fd';
    color: #fff;
    border-radius: $borderRadius;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em auto;
    width: 100% ;
    max-width: 1280px;
    @media screen and (max-width:768px) {
        width: 95% ;
        
    }

    .breadcrumb{
        margin-right: 2em;
    }
    &>div{
        width: 95%;
        margin: 0 auto;
    }

    .user-sidebar{
        background-color: $cardBackground;
        border-radius: 1em;
        padding: 1em;
        color: #fff;
        margin: 0 auto;
        margin-bottom: 1em;
        @media screen and(max-width:600px){
            font-size: 14px;
        }
        div.top{
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            a.logout{
                position: absolute;
                right: 0;
                top: 0;
            }
            & > div{
                &:first-of-type{
                    display: grid;
                    place-items: center;
                    position: relative;
                    &:hover{
                        a{
                            opacity: .8;
                            transform: scale(1);
                        }
                    }
                    img{
                        width: 150px;
                        height: 150px;
                        border-radius: 50%;
                    }
                    a{
                        position: absolute;
                        opacity: 0;
                        transform: scale(0);
                        transition: opacity 0.3s , transform 0.3s;
                    }
                }
                &:last-of-type{
                    display: flex;
                    align-items: center;
                    a:hover{
                        svg{
                            opacity: 1;
                        }
                    }
                    svg{
                        opacity: 0.5;
                        transition: opacity 0.5s;
                    }
                }
            }
        }
        ul.options{
            list-style: none;
            li{
                width: 90%;
                margin: 0.5em 0;
                padding: 0.5em;
                border-radius: .5em;
                &:hover{
                    background-color: $sidebarBackgroundColor;
                }
                &.active{
                    background-color: $backgroundColor;
                    position: relative;
                    &:after{
                        background-color: $primaryColor;
                        position: absolute;
                        left: 0;
                        top: 0;
                        bottom: 0;
                        width: 10px;
                        content: "";
                        border-radius: 0.5em 0 0 0.5em;
                    }
                }
                a{
                    width: 100%;
                    text-decoration: none;
                    color: #fff;
                    display: flex;
                    align-items: center;
                    svg{
                        margin: 0 1em;
                        opacity: 0.5;
                    }
                }
            }
        }
    }

    .panel-details{
        background-color: $cardBackground;
        border-radius: 1em;
        padding: 1em;
        color: #fff;
        margin-right: auto;
        height: fit-content;
        & > div{
            &.title , .title{
                @media screen and(max-width:600px){
                    margin-top: 1em;
                }
                display: flex;
                align-items: center;
                h4{
                    height: 40px;
                }
                @media screen and(max-width:600px){
                    font-size: 14px;
                }
            }
            hr{
                margin-bottom: 1em;
            }
            .user-information{
                display: flex;
                flex-direction: column;
                & > div{
                    margin: 0 1em;
                    display: flex;
                    flex-wrap: wrap;
                    margin-bottom: 1em;
                    @media screen and(max-width:600px){
                        font-size: 14px;
                    }
                    .key{
                        display: flex;
                        align-items: center;
                        svg{
                            margin-left: 0.5em;
                            opacity: 0.5;
                        }
                    }
                    .value{
                        margin-right: auto;
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;
                        strong{
                            font-size: 14px;
                        }
                        span{
                            margin-right: 0.5em;
                            color: $primaryColor;
                            //display: none;
                        }
                        
                        a.badge{
                            text-decoration: none;
                            display: none;
                        }

                        p{
                            margin-top: 0.5em;
                            font-size: 14px;
                            @media screen and(max-width:600px){
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
            .liked-courses{
                
                ul{
                    list-style: none;
                    max-height: 250px;
                    @include scrollbar();
                    overflow-y: auto;
                    li{
                        display: flex;
                        margin: 1em;
                    }
                }
            }
            .courses-status{
                display: flex;
                flex-wrap: wrap;
                & > div{
                    width: 45%;
                    @media screen and (max-width:600px) {
                        width: 100%;
                    }
                    display: flex;
                    flex-direction: column;
                    margin: 0 1em;
                    margin-bottom: 1em;
                    a{
                        margin-bottom: 0.5em;
                    }
                }
            }
        }
        .body{
            margin-top: 1.5em;
            form{
                div{
                    display: flex;
                    flex-direction: column;
                    padding: 1em;
                    label{
                        display: flex;
                        align-items: center;
                        margin-bottom: 0.5em;
                        svg{
                            margin-left: 0.5em;
                            opacity: 0.5;
                        }
                    }
                    input:not(input[type=checkbox]),textarea{
                        @include inputStyle($backgroundColor);
                        resize: vertical;
                    }
                    &:last-of-type{
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                    }
                }
                button{
                    width: fit-content;
                    margin-right: auto;
                    margin-left: 2em;
                    padding: 1em 2em;
                }
            }
        }
        .factor-details{
            margin: 1em;
            display: grid;
            grid-template-rows: auto auto;
            grid-template-columns: 1fr 1fr;
            grid-gap: 1em;
            
            & > div{
                display: flex;
                span{
                    width: 40%;
                }
                strong{
                    margin: 0 auto;
                    sub{
                        margin-right: 0.5em;
                    }
                }
            }
            @media screen and (max-width:400px) {
                grid-template-columns: 1fr;
                span{
                    width: 60% !important;
                }
            }
        }
        form.charge{
            width: fit-content;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            input{
                @include inputStyle($backgroundColor);
                margin: 1em;
                min-width: 300px;
            }
            button{
                margin: 1em;
            }
        }
        form.ticket{
            margin: 0 1em;
            div.topic{
                display: flex;
                flex-direction: row;
                align-items: center;
                flex-wrap: wrap;
                padding: 0;
                label{
                    padding: 0;
                    margin: 0;
                    margin-left: 1em;
                }
                input{
                    width: 65%;
                }
            }
            div.chat-container{
                margin-top: 1em;
                width: 100%;
                display: flex;
                flex-direction: column;
                border: 3px solid $primaryColor;
                padding: 1em;
                border-radius: 1em;
                align-items: stretch;
                ul.chats{
                    height: 300px;
                    overflow-y: auto;
                    @include scrollbar();
                    list-style: none;
                    li{
                        padding: 0.5em 2em;
                        width: fit-content;
                        max-width: 70%;
                        font-size: 14px;
                        display: flex;
                        flex-direction: column;
                        @media screen and(max-width:600px){
                            font-size: 12px;
                        }
                        span{
                            font-size: 12px;
                            margin-top: 0.3em;
                            opacity: 0.5;
                            span{
                                align-self: flex-start;
                            }
                        }
                        &.me{
                            background-color: #1E344D;
                            border-radius: 0.5em 0.5em 0 0.5em;
                        }
                        &.him{
                            background-color: #0C151F;
                            border-radius: 0.5em 0.5em 0.5em 0;
                            margin: 1em;
                            margin-right: auto;
                            span{
                                align-self: flex-start;
                            }
                        }
                    }
                }
                div.chat-options{
                    width: 100%;
                    @media screen and(max-width:600px){
                        width: fit-content;
                    }
                    display: flex;
                    align-items: flex-start;
                    flex-wrap: wrap;
                    textarea{
                        flex-grow: 2;
                        padding: 1em;
                        resize: none;
                        @include scrollbar();
                        height: 100px;
                        @media screen and(max-width:600px){
                            flex-grow: 1;
                            width: 100%;
                            font-size: 12px;
                        }
                        
                    }
                    .btn-outlined-icon{
                        display: grid;
                        place-items: center;
                        width: 50px;
                        height: 50px;
                        border: 2px solid #fff;
                        border-radius: 0.5em;
                        margin: 0 0.5em;
                        @media screen and(max-width:600px){
                            margin: 0.5em 1em;
                        }
                        transition: background-color 0.3s;
                        &:hover{
                            background-color: $primaryColor;
                        }
                    }
                    button{
                        @media screen and(max-width:600px){
                            width: 100%;
                            margin: 0;
                        }
                        padding: 0 5em;
                        height: 58px;
                    }
                }
            }
        }
        .table{
            overflow: auto;
            @include scrollbar();
            border: 3px solid $primaryColor;
            border-radius: 1em;
            padding: 1em 1.5em;
            margin-top: 1em;
            max-height: 400px;
            
            table{
                min-width: 100%;
                width: max-content;
                td{
                    padding: 0 1em;
                    width: fit-content;
                }
                thead{
                    height: 40px;
                    font-weight: bolder;
                    position: relative;
                    text-align: center;
                    display: table-header-group;
                    @media screen and (max-width:400px) {
                        font-size: 14px;
                    }
                    &:after{
                        content: "";
                        height: 2px;
                        background-color: #fff;
                        width: 100%;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                    }
                }
                tbody{
                    text-align: center;
                    tr{
                        height: 50px;
                        font-size: 14px;
                        @media screen and (max-width:400px) {
                            font-size: 12px;
                        }
                        position: relative;
                        &:last-child{
                            &:after{
                                display: none;
                            }
                        }
                        &:after{
                            content: "";
                            height: 0.5px;
                            background-color: #fff;
                            opacity: 0.3;
                            width: 100%;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                        }
                    }
                }
            }
        }
    }
}
.text-wrap{
    word-wrap: break-word;
}

.modal{
    
    .bg{
        position: absolute;
        inset: 0;
        background-color: #000;
        opacity: 0.5;
        z-index: -1;
    }
    position: fixed;
    inset:0;
    z-index: 99999;
    display: none;
    place-items: center;
    .mdal-main{
        margin: auto;
        width: 50vw;
        min-width: 250px;
        background-color: $cardBackground;
        padding: 1.5em;
        border-radius: 1em;
        color: #fff;
        .modal-header{
            display: flex;
            align-items: center;
        }
        hr{
            margin: 1em 0;
        }
        .modal-body{
            margin: 1em 0.5em;
            display: flex;
            flex-direction: column;
            .flex-row{
                display: flex;
                align-items: center;
                margin-bottom: 1em;
                strong{
                    margin-right: auto;
                }
            }
            form{
                display: flex;
                flex-direction: column;
                &> div{
                    display: flex;
                    flex-direction: column;
                    @media screen and(max-width:600px){
                        font-size: 12px;
                    }
                    input{
                        @include inputStyle($backgroundColor,1em,1em 0, 1em);
                        @media screen and(max-width:600px){
                            @include inputStyle($backgroundColor,1em ,0 ,0.5em )
                        }
                    }
                    .validation{
                        color: $dangerColor;
                        font-size: 14px;
                        @media screen and(max-width:600px){
                            font-size: 10px;
                            margin-right: auto;
                        }
                    }
                }
                button{
                    margin-top: 1em;
                    font-family: 'vazir fd';
                }
            }
        }
    }
}

progress {
    direction: ltr;
    border-radius: 1.5em;
    min-width: 150px;
    width: 100%;
    height: 30px;
    color: #fff;
    position: relative;
    &::after{
        content: attr(value) " %";
        position: absolute;
        color: #fff;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    --progress-value-bg : blue;
    &::-webkit-progress-bar {
        background-color: $backgroundColor;
        border-radius: 1.5em;
        padding: 5px;
    }
    &::-webkit-progress-value {
        background-color: var(--progress-value-bg);
        border-radius: 1.5em;
    }
    &.low{ --progress-value-bg : #{$dangerColor};}
    &.medium{--progress-value-bg : #{$warningColor};}
    &.high{--progress-value-bg : blue}
    &.full{
        --progress-value-bg : #{$cardBackground};
        &::after{
            content: "کامل دیده اید!";
        }
    }

}
